*{
	margin: 40px;
	margin-top:0px;
	border: 5px;
	padding: 5px;
}

body
{
	background-color: #BFC8EC;
	margin-bottom:0px;
	margin-top:0px;
}

#title /**"Carly Palicz"**/
{
	font-family: 'Courier New', Courier, monospace;
	margin: 15px 25px;
	color: black;
	text-align: center;
}

#top 
{
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	
}

div {
 display: flex;
 justify-content: center;
 margin: 0;
 padding: 0;
}

p {
    margin: 0;
    padding: 0;
}
ul {
 display: flex;
 justify-content: center;
}


li 
{
	display: inline-block;
	list-style: none;	
	margin-top:10px;
	margin-bottom:10px;
    
	
}

a:link, #top a:visited {
	color:white;
	text-decoration:none;
	margin: 0;
	padding: 50;
	display: block;
}


li a:hover{
	background-color:gray; 
}

#main /** Main text of page**/
{
	font: 1em 'DaysRegular', Arial, sans-seriff;
	overflow: hidden;
    border-radius: 3px;
	background: white;
	box-shadow: 5px 5px 5px black;


}
#main p /** Paragraph indentation**/
{
	margin-top:30px;
	text-indent: 15px;
	padding-bottom:0px;
	padding-right:0px;
	margin-right:0px;
	line-height:30px;
	margin-bottom:0px;
	
}

#main ul /**Moves bullets to the right**/
{
	margin-left: 250px;
	padding-top:30px;
	border:0px;
	list-style-type:circle;
	line-height:0px;
	padding-bottom:0px;
}

#main li
{
	padding-bottom:0px;
	
}

@media screen and (min-width: 830px ) /**Changes format when window/screen size changes**/
{
	#top img
	{
		display: block;
		margin: auto;
		width: 30%;
	}
}
@media screen and (min-width: 480px) and (max-width: 830px) /**Changes format when window/screen size changes**/
{
	#top img
	{
		display: block;
		margin: auto;
		width: 50%;
	}
}
@media screen and (max-width: 480px) /**Changes format when window/screen size changes**/
{
	#top img
	{
		display:none;
	}
}



/**the CSS for the slideshow is below**/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 50%;
  max-height: 250px;
  position: relative;
  margin: auto;
 padding: 0px;
 
}

/* Hide the images by default */
.mySlides {
	width: 100%;
	margin: auto;
	margin-left: -6.5%;
}

.mySlidesFirst {
	display: block;
}

.mySlidesRest {
	display: none;
}


/*Next & previous buttons*/ 
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  margin-top: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the left */
.prev {
  left: 0px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text 
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 1px;
  width: 100%;
  margin: auto;
  text-align: center;
  line-height:15px;
}
*/
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: auto;
  margin-top: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
}